<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
          display: flex;
          justify-content: center; /* Centers content horizontally */
          align-items: center; /* Centers content vertically */
          height: 80vh; /* Full viewport height */
          margin: 0; /* Remove any default margin */
          flex-direction: column; /* Stack elements vertically */
        }
      </style>
</head>
<body style="align-items: center; justify-content: center;">
    <h2>Add a New Book</h2>
    <form action="{{ url_for('add_book') }}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <br><br>
        <button type="submit" style="min-width: 200px;">Add Book</button>
    </form>
</body>
</html>
